<footer id="footer" class="footersection">
  <div class="row">
    <form class="" action="index.html" method="post">
      <p class="small-11 medium-5 large-4 columns"><label for="newsletter">Inscrivez-vous à la newsletter des musées !</label></p>
      <p class="small-10 medium-5 large-3 columns end"><input type="email" name="email" value="" id="newsletter" placeholder="e-mail"></p>
      <p class="small-1 medium-1 large-1 columns end"><button class="hollow button" href="#">OK</button></p>
    </form>
      <a class="small-7 medium-3 large-2 columns" href="">Publication des musées</a>
      <a class="small-5 medium-3 large-2 columns" href="">Espace presse</a>
  </div>
  <div class="row">
    <nav>
      <ul class="menu">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Mentions légales</a></li>
      </ul>
    </nav>
  </div>
</footer>
