<header id="header" class="headersection">
  <div class="row" >
    <a href="" class="small-12 medium-4 large-3 columns"><img src="assets/img/logo.png" alt="Musées de Strasbourg" width="309" heigth="133"></a>
    <nav class="small-12 medium-8 large-9 columns">
      <ul class="menu vertical">
        <li id="ligne1">
          <ul class="menu">
            <li class="small-1 medium-1 large-1 columns"><a href="">Actualités/Agenda</a></li>
            <li class="small-1 large-1 large-offset-9 columns"><a href="">Q</a></li>
            <li class="small-1 columns end"><a href="">FR</a></li>
          </ul>
        </li>
        <li id="ligne2" class="column"><a href="">Musées</a></li>
        <li id="ligne3" class="column"><a href="">Informations</a></li>
      </ul>
    </nav>
  </div>
  <section id="slider">
    <div class="row">


      <h1>Nouvelles salles des dessins d'architecture
        <br/>
        de la cathédrale de Strasbourg
      </h1>

      <p>N'oubliez pas de vous inscrire <br/>
      pour visiter la salle de conservation des dessins !</p>
    </div>
  </section>
</header>
