header{
  background: grey;
}

.headersection{
  padding: rem-calc(80);
  padding-left: 0;
  padding-right: 0;
}


nav{
  background-color: black;
}

#header a{
  color: white;
  font-size: rem-calc(21);
}
